h1, h2,li,label {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ol, ul {
    list-style: none;
    padding: 0;
}

ul {
    display: grid;
    gap: 5px;
}

li {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 7em;
    gap: 0;
    font-family: sans-serif;
    /* border: 1px solid #000;
    border-color: aqua; */
}

h2 {
    font-family: sans-serif;
    font-weight: bold;
}

button {
    width: 200%;
}